@use "./vendors/fonts" as *;
@use "./abstracts/fonts-vars" as *;
@use "./abstracts/colors" as *;
@use "./base/reset" as *;

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: $font_inter;
}
