@use "./shared/colors" as *;
@use "./shared/mixins/layouts" as *;
@use "./shared/mixins/texts" as *;

.projectWrapper {
  @include d-flex(column wrap, center, flex-start);
  h1 {
    margin-bottom: 20px;
  }
  h2 {
    text-transform: uppercase;
    @include scale-font-size(18, 22);
    @include scale-line-height(18, 22);
    margin-bottom: 20px;
  }

  .projectRow {
    @include d-flex(column wrap, center, flex-start);
    margin-bottom: 40px;
    background: $color_02;
    padding: 20px;
    h3 {
      @include scale-font-size(17, 20);
      @include scale-line-height(17, 20);
      text-transform: uppercase;
      margin: 0 0 15px;
    }
    p {
      margin: 0 0 15px;
      a {
        &:hover {
          background: $color_white;
          color: $color_black;
        }
      }
    }
    & > a {
      font-size: 12px;
      padding: 0 10px;
      border: 1px solid #111;
      transition: all 0.8s;
      width: 150px;
      text-align: center;
      &:hover {
        background: $color_white;
        color: $color_black;
      }
    }

    .tools {
      @include d-flex(row wrap, flex-start);
      margin-bottom: 15px;

      span {
        padding: 0 10px;
        margin-right: 5px;
        background: $color_black;
        color: $color_white;
        margin-bottom: 5px;
        transition: all 0.8s;
        @include scale-font-size(14, 16);
        &:hover {
          background: $color_white;
          color: $color_black;
        }
      }
    }
  }
}
