@use "../../shared/colors" as *;
@use "../../shared/fonts-vars" as *;
@use "../../shared/mixins/layouts" as *;
@use "../../shared/mixins/texts" as *;
@use "../../shared/mixins/breakpoints" as *;

.mainHeader {
  @include d-flex(column wrap, center, flex-end);
  padding: 25px 0;

  .logo {
    font-family: $font_pt_sans;
    text-transform: uppercase;
    font-weight: 700;
    @include scale-font-size(54, 64);
    @include scale-line-height(54, 64);
    text-align: right;
    margin: 50px 0;
    cursor: pointer;
  }

  nav {
    @include d-flex();
    ul {
      margin: 0;
      padding: 0;
      .menuLi {
        list-style: none;
        display: inline-block;
        padding: 0 15px;
        position: relative;
        @include breakpoint(mobile) {
          padding: 0 12px;
        }

        &:before {
          content: ".";
          font-size: 50px;
          position: absolute;
          top: -15px;
          right: -9px;
        }
        &:after {
          content: " ";
          display: block;
          height: 2px;
          background: $color_01;
          margin: 0 auto 0;
          width: 0;
          transition: width 0.2s linear;
        }
        &:hover,
        &.current {
          &:after {
            width: 100%;
          }
        }
        &:first-child {
          padding: 0 15px 0 0;
          @include breakpoint(mobile) {
            padding: 0 12px 0 0;
          }
        }
        &:last-child:before {
          content: "";
        }
        a {
          font-family: $font_pt_sans;
          font-weight: 400;
          @include scale-font-size(16, 20);
          text-transform: uppercase;
        }
      }
    }
  }
}
